<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Real website • Moen</title>
    <meta name="description" content="A classic company or blog layout with a sidebar. Built with Pico CSS.">
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico">
    <link rel="canonical" href="https://picocss.com/examples/company/">

    <!-- Pico.css -->
    <link rel="stylesheet" href="css/pico.min.css">

    <!-- Custom styles for this example -->
    <link rel="stylesheet" href="css/company.css">
  </head>

  <body>

    <!-- Hero -->
    <div class="hero" data-theme="dark">
      <nav class="container-fluid">
        <ul>
          <li><a href="/" class="contrast" onclick="event.preventDefault()"><strong>Moen</strong></a></li>
        </ul>
        <ul>
          <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="contrast">Theme</summary>
              <ul role="listbox">
                <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                <li><a href="#" data-theme-switcher="light">Light</a></li>
                <li><a href="#" data-theme-switcher="dark">Dark</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </nav>
      <header class="container">
        <hgroup>
          <h1>A real, not-fake website</h1>
          <h2>Please navigate around the site as you normally would.</h2>
        </hgroup>

        <p><a href="/products/1" role="button">View Product 1</a></p>
        <p><a href="/products/2" role="button">View Product 2</a></p>
      </header>
    </div><!-- ./ Hero -->

    <!-- Main -->
    <main class="container">
      <div class="grid">

        <section>
          <h2>Why does this site exist?</h2>
          <p>
            Because this field is somewhat 'secretive,' i.e. sharing bot protection strategies and datasets is giving
            the bad actors an edge on the competition, there isn't much publicly available data for me to draw on.
            So, after reading a few research papers, I created a simple webpage to collect some of my own statistics. Navigating this page helps
            give me human-like behavior to extrapolate on to ultimately land on a hopefully robust feature set. Thank you
            for helping me! The pages to check are the 'product pages' above as well as the subscribe
            form at the bottom of the page. Visiting each one a few times throughout the day will help me toward my goal!
          </p>
          <figure>
            <img src="/img/photo-1.jpeg" alt="Architecture">
            <figcaption>Image from me</figcaption>
          </figure>
          <h3>Nulla augue metus</h3>
          <p>Pacilisis sed ante ut, posuere volutpat quam. Maecenas maximus blandit mi ac finibus. Proin quis lacinia tellus. Aliquam erat volutpat. Aliquam erat volutpat. Phasellus suscipit nisi augue, id accumsan tortor auctor ut. Duis odio arcu, egestas nec nulla vel, fermentum bibendum ex.</p>
          <h3>Sed purus sapien, porta a cursus sed, maximus et metus.</h3>
          <p>Phasellus molestie ante sed massa bibendum, eget tempus ex sollicitudin. Vestibulum libero nulla, porttitor nec faucibus et, scelerisque eget quam. Nullam finibus tempor dui, vel congue urna condimentum ac. Fusce ultricies mauris justo, nec vulputate mauris pulvinar eu. Sed tempus ligula lorem, at tincidunt risus mollis non. Quisque et turpis sit amet sapien gravida ullamcorper in eu velit. Curabitur luctus ornare finibus. Proin tempor nulla sagittis est fermentum dapibus. Vestibulum posuere mattis congue. Ut porttitor id sem euismod tristique. Quisque mi est, posuere nec lorem eu, vulputate vehicula diam. Nullam scelerisque, libero posuere efficitur bibendum, urna odio finibus lorem, sed volutpat dolor ligula in dolor. Suspendisse suscipit efficitur neque, ut porta tellus mollis vel. Nam consequat arcu ac tellus porta, nec egestas orci sodales.</p>
        </section>

        <aside>
          <a href="#" aria-label="Example" onclick="event.preventDefault()"><img src="/img/photo2.jpeg" alt="Architecture"></a>
          <p>
            <a href="#" onclick="event.preventDefault()">Donec sit amet</a><br>
            <small>Class aptent taciti sociosqu ad litora torquent per conubia nostra</small>
          </p>
          <a href="#" aria-label="Example" onclick="event.preventDefault()"><img src="/img/photo3.jpeg" alt="Architecture"></a>
          <p>
            <a href="#" onclick="event.preventDefault()">Suspendisse potenti</a><br>
            <small>Proin non condimentum tortor. Donec in feugiat sapien.</small>
          </p>
          <a href="#" aria-label="Example" onclick="event.preventDefault()"><img src="/img/photo4.jpeg" alt="Architecture"></a>
          <p>
            <a href="#" onclick="event.preventDefault()">Nullam lobortis placerat aliquam</a><br>
            <small>Maecenas vitae nibh blandit dolor commodo egestas vel eget neque. Praesent semper justo orci, vel imperdiet mi auctor in.</small>
          </p>
        </aside>

      </div>
    </main><!-- ./ Main -->

    <!-- Subscribe -->
    <section aria-label="Subscribe example">
      <div class="container">
        <article>
          <hgroup>
            <h2>Subscribe</h2>
            <h3>I am not recording any names or emails from this -- but do fill it out to submit the form!</h3>
          </hgroup>
            <form class="grid" action="/subscribe">
              <input type="text" id="firstname" name="firstname" placeholder="First name" aria-label="First name" required>
              <input type="email" id="email" name="email" placeholder="Email address" aria-label="Email address" required>
              <button type="submit">Subscribe</button>
          </form>
        </article>
      </div>
    </section><!-- ./ Subscribe -->

    <!-- Footer -->
    <footer class="container">
      <small>Built with <a href="https://picocss.com">Pico</a> • <a href="https://github.com/picocss/examples/tree/master/company/">Source code</a></small>
    </footer><!-- ./ Footer -->

    <!-- Minimal theme switcher -->
    <script src="js/minimal-theme-switcher.js"></script>

  </body>

</html>