<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/pico.min.css">
    <title>A product</title>
  </head>
  <body>
    <main class="container">
      <p><a href="/" role="button">Back</a></p>
      <h1>Nike Air Max 1/97</h1>
      <figure>
        <img src="/img/sw.jpeg">
        <figcaption>Nike Air Max 1/97 in LIGHT BLUE FURY/LEMON WASH</figcaption>
      </figure>
      <p>
        The Air Max 97/1 Sean Wotherspoon is a perfect example of what Kevin Garnett was talking about when he yelled that “ANYTHING IS POSSIBLEEE!!” This ultra-special Nike Air Max 97/1 was originally part of a Nike design contest that Sean entered and ended up winning. Reportedly inspired by Sean’s love for vintage Nike hats from the 1980s, this shoe features both the upper of the Air Max 97 and the sole unit of the Air Max 1, a killer combo. The shoe also has a unique colorful corduroy upper with frayed edges, a truly one-of-a-kind look, with velour from toe to heel. These grails dropped on Air Max day 2018 (March 26th) and retailed at $160. If you’re an Air Max fan, these are a pair that is a must have in your collection and one that will be sure to turn heads. This no accessories version comes with an extra lace set only.
      </p>
    </main>
    <!-- Footer -->
    <footer class="container">
      <small>Built with <a href="https://picocss.com">Pico</a> • <a href="https://github.com/picocss/examples/tree/master/company/">Source code</a></small>
    </footer><!-- ./ Footer -->
  </body>
</html>