<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/pico.min.css">
    <title>A product</title>
  </head>
  <body>
    <main class="container">
      <p><a href="/" role="button">Back</a></p>
      <h1>Jordan 1 Retro High</h1>
      <figure>
        <img src="/img/shoe.jpeg">
        <figcaption>Jordan 1 Retro High in White University Blue Black</figcaption>
      </figure>
      <p>
        Jordan Brand paid homage to MJ’s alma mater with the Air Jordan 1 High University Blue. The University Blue colorway is prominent in the Jordan 1’s history. The first UNC-inspired Jordan 1 dates back to 1985 when the Jordan 1 debuted. Since then, there have been numerous iterations of the UNC 1, most recently the Jordan 1 Retro High Fearless UNC To Chicago. Jumpman is building off of its past and switching it up this week with a new iteration.

The upper of the Air Jordan 1 High University Blue is composed of a white and black tumbled leather upper with University Blue Durabuck overlays. Following traditional Jordan 1 detailing, a Nike Air woven label is located on the tongue and an Air Jordan Wings Logo is printed on the ankle. A white midsole and University Blue outsole complete rejuvenated classic.

The Air Jordan 1 High University Blue released in March of 2021 and retailed for $170.
      </p>
    </main>
    <!-- Footer -->
    <footer class="container">
      <small>Built with <a href="https://picocss.com">Pico</a> • <a href="https://github.com/picocss/examples/tree/master/company/">Source code</a></small>
    </footer><!-- ./ Footer -->
  </body>
</html>