<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/pico.min.css">
    <link rel="stylesheet" href="css/subscribed.css">
    <title>Subscribed!</title>
  </head>
  <body>
    <main class="container">
      <p><a href="/" role="button">Back</a></p>
      <h1>Thanks for 'subscribing,' {{ name }}! Here's a cool picture.</h1>
      <figure>
        <img src="/img/photo-1.jpeg">
        <figcaption>You told us your email is {{ email }}</figcaption>
      </figure>
    </main>
    <!-- Footer -->
    <footer class="container">
      <small>Built with <a href="https://picocss.com">Pico</a> • <a href="https://github.com/picocss/examples/tree/master/company/">Source code</a></small>
    </footer><!-- ./ Footer -->
  </body>
</html>